.logo {
  width: 100%;
  margin-right: -396px;
}
.menu {
  color: black;
  margin-right: 28px;
}
.menu:hover {
  background-color: antiquewhite;
  border-radius: 15px;
  color: red;
}

.cart-shopping {
  text-decoration: none;
  background-color: white;
  border: none;
  padding-left: 10px;
}
